header {
  height: 104px;
  width: 100%;
  background-color: #f2bfcb;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  position: fixed;
  top: 0;
}
header h1 {
  margin: 35px 0 0 15px;
}
header form {
  width: 200px;
  height: 36px;
  display: inline-block;
  background-color: #fff;
  margin: 56px 0 15px 0;
  border-radius: 4px;
}
header form input {
  width: 100%;
  height: 100%;
  padding: 11px 0 9px 11px;
  color: #f2bfcb;
}
header form input:focus {
  outline: solid 2px #f2bfcb;
  border-radius: 4px;
}
header #nav {
  position: absolute;
  height: 664px;
  width: 300px;
  right: -300px;
  top: 104px;
  background-color: #fff;
  z-index: 100;
  transition: 0.5s;
}
header #nav.active {
  right: 0;
}
header #nav ul li {
  height: 74px;
  list-style-type: none;
  border-bottom: 2px #f2bfcb solid;
}
header #nav ul li a {
  position: relative;
  display: block;
  height: 100%;
  font-size: 15px;
  color: #f2bfcb;
  padding: 27px 0 0 67px;
  font-weight: bold;
}
header #nav ul li a:before {
  content: url("../img/icon_dia.svg");
  position: absolute;
  top: 19px;
  left: 19px;
}
header .ham {
  position: relative;
  width: 42px;
  height: 37px;
  margin: 51px 15px 12px 0;
}
header .ham span {
  position: absolute;
  display: block;
  width: 100%;
  height: 8px;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.5s;
}
header .ham span:first-child {
  transform: translateY(-16px);
}
header .ham span:last-child {
  transform: translateY(16px);
}
header .ham.active span:first-child {
  transform: rotate(45deg);
}
header .ham.active span:nth-child(2) {
  opacity: 0;
  transform: translateX(-10px);
}
header .ham.active span:last-child {
  transform: rotate(-45deg);
}